@use '../../styles/partials/colors';
@use '../../styles/partials/metrics';
@use '../../styles/partials/mixins';

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    &__image {
        height: 60px;
    }

    &__name {
        color: colors.$primary;

        font: {
            size: 18px;
            weight: 600;
        }
    }
}

.header {
    background-color: colors.$background;
    padding: 20px 12px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px colors.$border;
}

@include mixins.tablet {
    .header {
        padding: 20px 24px;
    }
}

@include mixins.desktop {
    .header {
        padding: 20px 10%;
    }
}